<!-- Here this is not some complete HTML page but some footer tag of HTML page-->

<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="https://www.instagram.com/arpit_p_07/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/arpitpal0711/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                <i class="fa-brands fa-square-linkedin"></i>
            </a>
        </div>
        <%# Here this &copy; is the symbol for copyright %>
        <div class="f-info-brand">&copy; StayNest Privated Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
